<li>
    {% if node.type == "folder" %}
        
        <span class="folder" onclick="toggleFolder('{{ node.name|slugify }}')">
                <input name="path" id="path" type="hidden" value="{{node.path}}">

            📁 {{ node.name }}
            
        </span>
        <ul id="{{ node.name|slugify }}">
            {% for child in node.children %}
                {% include "tree_node.html" with node=child %}
            {% endfor %}
        </ul>
    {% elif node.type == "image" %}
        
        <a href="{{ node.url }}" class="image" target="_blank" onclick="fileClicked('{{ node.name }}')">
            📄 {{ node.name }}
        </a>
    {% endif %}
</li>


